header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(218, 213, 193);
}
body{
    background-color: rgb(126, 13, 13);
    color:rgb(218, 213, 193);
}
a{
    color:blanchedalmond;
}
a:hover{
    color: red;
}
div.topbar{
    background-color: rgb(75, 18, 18);
    padding-bottom: 20px;
    padding-top: 2px;
    border:solid;
    border-color: white;
    border-radius: 30px;
    border-width: 5px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    display:block;
}
h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-div{
    text-align:center;
    padding-top: 20px;
}
p.text-box{
    text-align: center;
    font-size: 18px;
    font-weight:bolder;
    display: block;
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
}
h2.motto{
    font-size: 20px;
    font-style: italic;
}
.header-div{
    background-color: rgb(75, 18, 18);
    padding-bottom: 20px;
    padding-top: 2px;
    border:solid;
    border-color: white;
    border-radius: 30px;
    border-width: 5px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    display:block;
}
.img-center{
    justify-content: center;
    display:flex;
}
.img-sizer{
    margin: auto;
    width: 300px;
    height: 315px
}
.agenda-center{
    text-align: center;
}
h3{
    text-align: center;
}
.warning{
    color:black;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slideshow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}

#slideshow1 .slide:first-child, 
#slideshow2 .slide:first-child {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#countdown-timer-container{
    text-align: center;
    font-size: x-large;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
    border-width: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: radial-gradient(rgb(130, 120, 120), rgb(233,233,233));
}

.quiz {
    border: 2px solid #ccc;
    padding: 20px;
    width: 300px;
    background: #f9f9f9;
}

.results {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}