body{
    background-color:darkslateblue;
    text-align: center;
    color:honeydew;
    font-family:Georgia, 'Times New Roman', Times, serif
}

a{
    color:deepskyblue;
    text-decoration: none;
}

a:hover{
    color:blueviolet;
}

img{
    width:fit-content;
    height:300px;
}

figcaption{
    font-style:italic;
    color:gainsboro
}

li{
    margin-bottom: 16px;
}

#nested-list{
    list-style-position: inherit;
}

table, th, td {
    border: 1px solid black;
    font-size: medium;
    border-collapse: collapse;
    background-color:cadetblue;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }
  table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        td:nth-child(even) {
            background-color: #8cd5e0;
        }
        caption {
            font-weight: bold;
            font-size: larger;
            margin-bottom: 10px;
        }
        th{
            background-color: rgb(52, 101, 102);
            color:aliceblue
        }