body{
    background-color:rgb(38, 22, 140);
    text-align: center;
    color:honeydew;
    font-family:Georgia, 'Times New Roman', Times, serif
}

a{
    color:rgb(25, 236, 229);
    text-decoration: none;
}

a:hover{
    color:rgb(150, 84, 212);
}

img{
    width:fit-content;
    height:300px;
}

figcaption{
    font-style:italic;
    color:gainsboro
}

#text-block{
    padding: 25px; 
    margin-right: 100px;
    margin-left:100px;
}

li{
    margin-bottom: 16px;
}

#nested-list{
    list-style-position: inherit;
}

table, th, td {
    border: 1px solid black;
    font-size: medium;
    border-collapse: collapse;
    background-color:cadetblue;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }
  table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        td:nth-child(even) {
            background-color: #8cd5e0;
        }
        caption {
            font-weight: bold;
            font-size: larger;
            margin-bottom: 10px;
        }
        th{
            background-color: rgb(52, 101, 102);
            color:aliceblue
        }
        input[type="text"],
input[type="tel"],
input[type="email"],
select {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #8cd5e0;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

button[type="submit"],
button[type="reset"] {
  background-color: #333; 
  color: #8cd5e0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: #555;
}
input{
    width: 25px;
}
.bottom-div{
    margin-bottom: 40px;
}
#about_photo{
    padding:initial;
    border-radius: 20px;
    margin-bottom: 20px;
}
.webdesc{
    font-size: 18px;
    color:bisque
}
.eval_list{
    color: bisque;
}
.list_margins{
    margin: auto;
}